*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

h2{
    text-align: center;
    font-family: var(--font-1);
}

button{
    font-family: var(--font-3);
}

main{
    background-color: #00509d;
}

/* hero */
.hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
}


/* mySkill */
.myskill{
    padding: 2rem 5%;
}

.card-section{
    overflow: hidden;
}

.card-section .card{
    float: left;
    width: 33.33%;
}

.card .pic{
    width: 80%;
}

.pic img{
    width: 100%;
}

.myskill button{
    position: absolute;
    right: 10vw;
}

/* myProfile */


/* mySchool */
.myschool{
    padding: 2% 8%;
}

.myschool .school-location{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border: 10px solid transparent;
    border-image: linear-gradient(
        180deg,
        #0e6ba8,
        #a6e1fa,
        #0e6ba8
    ) 1;
}

.myschool iframe{
    width: 100%;
}

/* contactme */
.contactme{
    padding: 2% 8%;
}

.contactme form{
    background-color: #a6e1fa;
    padding: 2rem;
    margin: auto;
}

.contactme .input-1{
    width: 100%;
    padding: 1%;
    margin: 0.5% 0;
}
