@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka:wdth,wght@84.3,300..700&family=Sniglet:wght@400;800&display=swap');

:root{
    --font-1: "Concert One", sans-serif;
    --font-2: "Sniglet", system-ui;
    --font-3: "Fredoka", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #07004f;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu {
    margin-left: auto;
    gap: 25px;
    display: flex;
}
.logo img{
    width:10%;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    
}

/* footer */

.foot-find {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.foot-linky {
    width: 10%;                /* each item takes % width */
}

.foot-linky img{
    width: 100%;
}

.round{
    border-radius: 100%;
}

.corner-rounded{
    border-radius: 15%;
}